.contact {
    min-height: 73vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    text-align: center;
    /* background-image: linear-gradient(0deg, black, transparent), url(./assets//img//hero-bg-2.png); */
    /* background-position: bottom; */
}

.contact-header {
    width: 100%;
    height: 20vh;
    background: url(./assets/img/veggie-bg-dark.jpg);
    background-attachment: fixed;
    /* background: linear-gradient(180deg, #000000, #272727); */
    /* border: solid red 1px; */
}
.contact-section-header {
text-align: center;
}

.contact h1 {
    font-family: trashHand, sans-serif;
    font-size: 40px;
    font-weight: 300;
    color: #ffc107;
}

.contact .contact-form {
    background-color: #111111;
    padding: 40px;
    font-weight: 200;
    border-bottom: 2px solid #a4d500;
    width: 600px;
    margin: 20px;
}

@media (max-width: 768px) {
    .contact .contact-form {
        width: 480px;
    }
}

.contact-form-header {
    text-align: center;
    margin-bottom: 30px;
}

.contact label {
    color: #ffffff;
}

.contact .label {
    text-align: left;
}

.contact input,
.contact textarea {
    background-color: #252526;
    border: 0px solid grey;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    width: 100%;
}

input[type=submit] {
    background-color: #9ccc00 !important;
    color: #fff;
}

.contact-container {
    justify-content: center;
}